@use 'sass:list';

// All props are optional and default to null.
@mixin margin(
    $block: null,
    $blockEnd: null,
    $blockStart: null,
    $inline: null,
    $inlineEnd: null,
    $inlineStart: null,
    $margin: null,
    $scroll: null,
    $scrollBlock: null,
    $scrollBlockEnd: null,
    $scrollBlockStart: null,
    $scrollInline: null,
    $scrollInlineEnd: null,
    $scrollInlineStart: null
) {
    // General value that apply to more than one side
    margin: $margin;

    // Axis specific values to apply to two sides
    margin-block: $block;
    margin-inline: $inline;

    // Side specific values to overwrite any general or axis values
    margin-block-end: $blockEnd;
    margin-block-start: $blockStart;
    margin-inline-end: $inlineEnd;
    margin-inline-start: $inlineStart;

    // General scroll values that apply to more than one side
    scroll-margin: $scroll;

    // Axis specific values to apply to two sides
    scroll-margin-block: $scrollBlock;
    scroll-margin-inline: $scrollInline;

    // Side specific scroll values to overwrite any general or axis values
    scroll-margin-block-end: $scrollBlockEnd;
    scroll-margin-block-start: $scrollBlockStart;
    scroll-margin-inline-end: $scrollInlineEnd;
    scroll-margin-inline-start: $scrollInlineStart;

    @supports not (margin-block-end: 1rem) {
        // Side-specific fallbacks or axis-specific fallbacks
        margin-bottom: $blockEnd or list.nth($block, -1);
        margin-left: $inlineStart or list.nth($inline, 1);
        margin-right: $inlineEnd or list.nth($inline, -1);
        margin-top: $blockStart or list.nth($block, 1);
    }

    @supports not (scroll-margin-block: 1rem) {
        // Side-specific fallbacks or axis-specific fallbacks
        scroll-margin-bottom: $scrollBlockEnd or list.nth($scrollBlock, -1);
        scroll-margin-left: $scrollInlineStart or list.nth($scrollInline, 1);
        scroll-margin-right: $scrollInlineEnd or list.nth($scrollInline, -1);
        scroll-margin-top: $scrollBlockStart or list.nth($scrollBlock, 1);
    }
}
