@use 'sass:list';

// All props are optional and default to null.
@mixin padding(
    $block: null,
    $blockEnd: null,
    $blockStart: null,
    $inline: null,
    $inlineEnd: null,
    $inlineStart: null,
    $padding: null,
    $scroll: null,
    $scrollBlock: null,
    $scrollBlockEnd: null,
    $scrollBlockStart: null,
    $scrollInline: null,
    $scrollInlineEnd: null,
    $scrollInlineStart: null
) {
    // General value that apply to more than one side
    padding: $padding;

    // Axis specific values to apply to two sides
    padding-block: $block;
    padding-inline: $inline;

    // Side specific values to overwrite any general or axis values
    padding-block-end: $blockEnd;
    padding-block-start: $blockStart;
    padding-inline-end: $inlineEnd;
    padding-inline-start: $inlineStart;

    // General scroll values that apply to more than one side
    scroll-padding: $scroll;

    // Axis specific values to apply to two sides
    scroll-padding-block: $scrollBlock;
    scroll-padding-inline: $scrollInline;

    // Side specific scroll values to overwrite any general or axis values
    scroll-padding-block-end: $scrollBlockEnd;
    scroll-padding-block-start: $scrollBlockStart;
    scroll-padding-inline-end: $scrollInlineEnd;
    scroll-padding-inline-start: $scrollInlineStart;

    @supports not (padding-block-end: 1rem) {
        // Side-specific fallbacks or axis-specific fallbacks
        padding-bottom: $blockEnd or list.nth($block, -1);
        padding-left: $inlineStart or list.nth($inline, 1);
        padding-right: $inlineEnd or list.nth($inline, -1);
        padding-top: $blockStart or list.nth($block, 1);
    }

    @supports not (scroll-padding-block: 1rem) {
        // Side-specific fallbacks or axis-specific fallbacks
        scroll-padding-bottom: $scrollBlockEnd or $scrollBlock;
        scroll-padding-left: $scrollInlineStart or $scrollInline;
        scroll-padding-right: $scrollInlineEnd or $scrollInline;
        scroll-padding-top: $scrollBlockStart or $scrollBlock;
    }
}
